nav ul{
    padding: 0;
    margin: 0;
}
nav ul li{
    list-style: none;
}
img{
    width: 100%;;
    height: 100%;
}
.tabla-dolor img{
    width: 100%;
    height: 100%;
}
.tabla-dolor tbody .fila-imagenes td{
    border: 2px solid black;
}