nav ul{
    padding: 0;
    margin: 0;
}
nav ul li{
    list-style: none;
}
img{
    width: 100%;;
    height: 100%;
}
.tabla-dolor img{
    width: 100%;
    height: 100%;
}
.tabla-quiero img{
    width: 100%;
    height: 100%;
}
img:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.tabla-dolor tbody .fila-imagenes td{
    border: 2px solid black;
}
.tabla-quiero tbody .fila-imagenes td{
    border: 2px solid black;
}
.tabla-dolor .fila-imagenes .opcion{
    border: 8px solid green;
    background-color:burlywood;
}
.eleccion{
    border: 2px solid red;
}
.iconos{
    font-size:40px;
}
.espacio{
    padding: 10px;
    border: 2px solid black;
}
.busquedas{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
}
.img-buscar{
    border: 2px solid greenyellow;
}
.contenedor .formulario textarea{
    resize: none;
}
.imagen-redactar{
    width: 2rem;
    height: 2rem;
}
.contenedor-leer{
    width: 100%;
    height: 25%;
}
.tabla-redactar{
    width: 100%;
    height: 5rem;
    border: 2px solid black;
}
.img-1{
    width: 100%;
    min-height: 100%;
}
.leer{
    width: 20%;
    height: 20%;
    font-size: 15px;
    color: white;
    background-color: goldenrod;
    box-shadow: 5px 5px;
    border-radius: 5px;
}
.leer:hover{
    width: 20%;
    height: 20%;
    font-size: 15px;
    color: white;
    background-color: green;
    box-shadow: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
}
.borrar{
    width: 20%;
    height: 20%;
    font-size: 15px;
    color: white;
    background-color: crimson;
    box-shadow: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
}
.borrar:hover{
    width: 20%;
    height: 20%;
    font-size: 15px;
    color: white;
    background-color: red;
    box-shadow: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
}
.borrar-ultimo{
    width: 20%;
    height: 20%;
    font-size: 15px;
    color: white;
    background-color: black;
    box-shadow: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
}
.borrar-ultimo:hover{
    width: 20%;
    height: 20%;
    font-size: 15px;
    color: white;
    background-color: red;
    box-shadow: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
}
.div-busqueda{
    display: grid;
    border: 2px solid black;
    padding: 5px 5px;
    gap: 10px;
}
.espacio-icono{
    border: 2px dotted crimson;
    width: 4rem;
    text-align: center;
}
.espacio-icono p{
    font-size: 10px;
}
.img-escudo{
    width: 2rem;
    height: 2rem;
    text-align: end;
}
.contenedor-encabezado{
    display: flex;
}
.creditos{
    background-color:cornflowerblue;
    color: white;
}
.btn-camara{
    width: 20%;
    height: 20%;
    font-size: 15px;
    color: white;
    background-color: goldenrod;
    box-shadow: 5px 5px;
    border-radius: 5px;
}
.btn-camara:hover{
    width: 20%;
    height: 20%;
    font-size: 15px;
    color: white;
    background-color: green;
    box-shadow: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
}
.traductor-respuesta{
    width: 58%;
    height: 40%;
    border: 2px solid green;
}
.contenedor-traductor{
    display: block;
    gap: 25px;
    margin-left: 15%;
    margin-top: 5px;
    border: 2px solid black;
    box-shadow: 2px 2px;
    width: 75%;
    padding: 5px 5px;
}
.clima-dia1, .clima-dia2, .clima-dia3{
    border: 2px solid green;
    padding: 10px;
    font-size: 11px;
}
.boton-clima-leer{
    width: 65px;
    background-color: aquamarine;
    border-radius: 5px;
}
.boton-clima-stop{
    width: 65px;
    background-color: coral;
    border-radius: 5px;
}
.boton-clima-leer:hover{
    width: 65px;
    background-color: rgb(35, 220, 159);
    border-radius: 5px;
    cursor: pointer;
}
.boton-clima-stop:hover{
    width: 65px;
    background-color: rgb(226, 72, 16);
    border-radius: 5px;
    cursor: pointer;
}